$black: #000;
$neutral: #f0f7f7;
$neutralDarker: #c6cdcc;
$primaryGradientRight: #2dd282;
$primaryGradientLeft: #90f4e8;
$primaryMedium: #064040;
$primaryDarker: #042b2b;
$primaryGradient: linear-gradient(90deg, $primaryGradientLeft 0px, $primaryGradientRight 100%);

@mixin textFontSize() {
	font-size: clamp(0.7rem, 1.1vw, 1.2rem);
}

@mixin h1FontSize() {
	font-size: clamp(1.5rem, 2vw, 2.25rem);
}

@mixin h2FontSize() {
	font-size: clamp(0.875rem, 1.3vw, 1.5rem);
}
