@import "@/global/variables";

.question {
	display: flex;
	flex-direction: row;
	width: 100%;
	border-bottom: 1.5px solid;
	border-color: $neutralDarker;

	position: relative;

	&::after {
		content: "";
		position: absolute;
		bottom: -1.5px;
		left: 0;
		width: 0;
		height: 1.5px;
		background: $primaryGradient;
		transition: width 0.6s cubic-bezier(0.34, 0.96, 0.64, 1);
	}

	.index {
		@include h2FontSize();
		padding: clamp(0.4rem, 2.5vw, 2.5rem) clamp(0.2rem, 1.7vw, 1.75rem);
		margin: 0;
		color: $neutralDarker;
	}
	.content {
		flex: 1;
		padding: clamp(0.4rem, 2.5vw, 2.5rem) 0 clamp(0.4rem, 2.5vw, 2.5rem) clamp(0.2rem, 1.7vw, 1.75rem);

		.title {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			button {
				position: relative;
				display: block;
				aspect-ratio: 1;
				border-radius: 50%;
				outline: none;
				border: none;
				background-color: transparent;
				width: clamp(0.9rem, 1.7vw, 2.1rem);
				height: clamp(0.9rem, 1.7vw, 2.1rem);
				padding: 1.5px;
				background: $primaryGradient;
				transition: transform 0.2s ease;

				&::after {
					content: "";
					position: absolute;
					inset: 1.5px;
					border-radius: 50%;
					background: $black;
					display: block;
				}
				.horizontal,
				.vertical {
					position: absolute;
					background: $primaryGradient;
					border-radius: 1px;
					z-index: 2;
					transition: transform 0.45s cubic-bezier(0.34, 1.56, 0.64, 1);
				}
				.horizontal {
					width: 50%;
					height: 1px;
					left: 25%;
					top: calc(50% - 0.5px);
				}
				.vertical {
					height: 50%;
					width: 1px;
					top: 25%;
					left: calc(50% - 0.5px);
				}
			}

			h2 {
				margin: 0;
				@include h2FontSize();
			}
		}

		.answerWrapper {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);

			p {
				padding-right: clamp(0.2rem, 1.7vw, 1.75rem);
				opacity: 0;
				transform: translateY(-2rem);
				transition: opacity 0.4s ease-out, transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
			}
		}
	}

	&.open {
		&:after {
			width: 100%;
		}
		.title button {
			.vertical {
				transform: rotate(450deg);
			}
			.horizontal {
				transform: rotate(360deg);
			}
		}
		.answerWrapper {
			max-height: 100vh;

			p {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}
